<div class="page-about">
  <h3 class="page-title">About Brent</h3>
  <div class="col-sm-8">
    <p class="lead">
      Let's see - I have a unique background.  I originally taught myself how to make html pages on my WebTV back in the day.  After that, I taught myself how to build computers and dove deeper into web development.  I ended up getting a B.S. and M.S. in Biology and realized I missed my passion in the tech field.
    </p>
    <p class="lead">
      Once I realized I wanted to go back into tech, I was lucky enough to find myself a Software Quality Engineering position.  I eventually worked my way up to frontend development which I've been doing for 3+ years now.  In my day to day I primarily focus on Ruby on Rails, JS and SASS.
    </p>
    <p class="lead">
      Here lately, I've been focusing on honing my full stack skills with Ruby on Rails, React, etc.  I have a strong passion for data and handling data on the backend as well as utilizing that data on the frontend.  Combining the two worlds together is incredibly satisfying to me.
    </p>
  </div>

  <div class="col-sm-4">
    <h4 class="page-about__section-title">Tech Skills</h4>
    <ul class="page-about__items">
      <li class="page-about__item"><i class="fa fa-code"></i> Ruby</li>
      <li class="page-about__item"><i class="fa fa-code"></i> Ruby on Rails</li>
      <li class="page-about__item"><i class="fa fa-code"></i> JS/ES6</li>
      <li class="page-about__item"><i class="fa fa-code"></i> CSS/SASS/LESS</li>
      <li class="page-about__item"><i class="fa fa-code"></i> PHP</li>
      <li class="page-about__item"><i class="fa fa-code"></i> Laravel</li>
      <li class="page-about__item"><i class="fa fa-code"></i> VueJS</li>
      <li class="page-about__item"><i class="fa fa-code"></i> Unity3D</li>
      <li class="page-about__item"><i class="fa fa-code"></i> C# (Unity)</li>
      <li class="page-about__item"><i class="fa fa-code"></i> 4+ years in tech</li>
    </ul>

    <h4 class="page-about__section-title">Fun Stuff</h4>
    <ul class="page-about__items">
      <li class="page-about__item"><i class="fa fa-thumbs-o-up"></i> I love coffee</li>
      <li class="page-about__item"><i class="fa fa-thumbs-o-up"></i> Outdoors is neat</li>
      <li class="page-about__item"><i class="fa fa-thumbs-o-up"></i> I'm a 3D artist (digital and clay)</li>
      <li class="page-about__item"><i class="fa fa-thumbs-o-up"></i> I love Horror movies</li>
      <li class="page-about__item"><i class="fa fa-thumbs-o-up"></i> I own old comic books</li>
      <li class="page-about__item"><i class="fa fa-thumbs-o-up"></i> I'm a Unity3D hobbyist</li>
    </ul>
  </div>
</div>
