<% if categories.present? %>
  <ul class="project-category-list">
    <% categories.each do |category| %>
      <li class="project-category-list__item">
        <%= link_to category.name, category_path(category), 
                                    class: 'project-category-list__cat' %>
      </li>
    <% end %>
  </ul>
<% end %>
