<section class="page-project-index">
  <h3 class="page-title">Projects</h3>

  <%= render 'projects/list' %>

  <% if logged_in? %>
    <%= link_to 'Add New Project', new_project_path, class: 'btn btn-primary btn-md project__add-new' %>
  <% end %>
</section>
