<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have received an email from <%= @message.name %> at <%= @message.email %></h1>
    <p>
      <%= @message.body %>
    </p>
  </body>
</html>
