<section class="jumbotron">
  <%= image_tag 'profile.png', class: 'jumbotron__img' %>
  <h3 class="jumbotron__title">My name is <span class="jumbotron__color-span">Brent</span></h3>
  <h4 class="jumbotron__title">I build web stuff <span class="jumbotron__color-span">front</span> and <span class="jumbotron__color-span">back</span></h4>
  <i class="fa fa-caret-down jumbotron__caret-down"></i>
</section>